// importing utils
@use '../util' as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);
  margin-bottom: rem(40);

  @include breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('large') {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  // background: var(--dark-card);
  background: var(--card-bg);
  // color: var(--dark-text1);
  color: var(--text-color2);
  padding: rem(25);
  border-radius: rem(5);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: rem(5);
  }

  &:hover {
    // background: var(--dark-card-hover);
    background: var(--card-hover);
  }

  &--facebook {
    &:before {
      background: var(--facebook);
    }
  }

  &--twitter {
    &:before {
      background: var(--twitter);
    }
  }

  &--instagram {
    &:before {
      background: linear-gradient(
        225deg,
        var(--instagram-end) 0%,
        var(--instagram-middle) 50%,
        var(--instagram-start) 98.02%
      );
    }
  }

  &--youtube {
    &:before {
      background: var(--youtube);
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(28);
    height: rem(20);
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__icon {
    margin-right: rem(10);
  }

  &__username {
    font-size: rem(12);
    font-weight: 700;
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
  }

  &__followers {
    text-align: center;
    line-height: 1;
    margin-bottom: rem(25);
    text-transform: uppercase;
  }

  &__count {
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: rem(10);

    &--big {
      font-size: rem(56);
    }

    &--small {
      font-size: rem(32);
      margin: 0;
      line-height: 1;
    }
  }

  &__label {
    font-size: rem(12);
    color: var(--text-color2);
    letter-spacing: rem(5);
  }

  &__change {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: rem(12);
    font-weight: 700;

    &--up {
      color: var(--limegreen);
    }

    &--down {
      color: var(--brightred);
    }

    img {
      margin-right: rem(5);
    }
  }
}
